.goal {
  padding: 1em;
  margin-top: 1em;
  &.highlight {
    border: 1px solid #808080;
  }
  .focus {
    min-width: 10em;
    min-height: 2em;
    padding: 0.5em;
  }
  .category {
    font-weight: bold;
  }
  .details {
    margin-top: 1em;
  }
}

ul.done {
  color: #808080;

  li {
    &:before {
      content:"\2713\0020";
    }
  }
}

.click-area {
  cursor: pointer;
  text-align: center;
}

.glyphicon.clickable {
  cursor: pointer;
  font-size: 2em;
}
