<div class="row">
  <h3>Current Goals</h3>
  {{theGoal}}
  <div class="goal col-md-4" ng-repeat="goal in goals" ng-class="{'highlight': showDetails, 'col-md-12': showDetails}">
    <div class="focus" ng-style="{'background-color': goal.category.color}">
        <div class="category">{{goal.category.name}}
          <span ng-click="showDetails = !showDetails" ng-show="showDetails" class="glyphicon glyphicon-chevron-up clickable pull-right"></span>
        </div>
        <div>{{goal.name}}</div>
        <div class="click-area" ng-click="showDetails = !showDetails">
          <span ng-hide="showDetails" class="glyphicon glyphicon-chevron-down clickable"></span>
        </div>
    </div>
    <div class="details" ng-show="showDetails">
      <strong ng-show="getCurrentTasks(goal.tasks).length > 0">What we're doing now</strong>
      <div ng-repeat="task in getCurrentTasks(goal.tasks)">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="task.status" ng-true-value="'done'" ng-false-value="'doing'"> {{task.description}}
          </label>
        </div>
      </div>
      <strong ng-show="getCompletedTasks(goal.tasks).length > 0">What we've done</strong>
      <div class="done" ng-repeat="task in getCompletedTasks(goal.tasks)">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="task.status" ng-true-value="'done'" ng-false-value="'doing'"> {{task.description}}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
