<div class="row">
  <h3>Current Goals</h3>
  {{theGoal}}
  <div class="goal col-md-4" ng-repeat="goal in goals" ng-class="{'highlight': showDetails, 'col-md-12': showDetails}">
    <div class="focus">
        <div class="category">{{goal.category}}</div>
        <div>{{goal.name}}</div>
        <div class="click-area" ng-click="showDetails = !showDetails">
          <span ng-class="showDetails ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'" class="glyphicon clickable"></span>
        </div>
    </div>
    <div class="details" ng-show="showDetails">
      <strong>What we're doing now</strong>
      <ul class="doing" ng-repeat="doing in goal.tasks.doing">
        <li>{{doing}}</li>
      </ul>
    </div>
  </div>
</div>
